/*------------------------------------------PhotographerPage--------------------------------*/
*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #FAFAFA;
    font-family: 'DM Sans', sans-serif;
    position: relative;
    width: 90%;
    margin: auto;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

.headerPhotographer{
    margin-top: 40px;
}
.presentation{
    max-width: 1600px;
    height: 313px;
    background: #E5E5E5;
    border-radius: 5px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.information{
    margin-top: 40px;
    margin-left: 50px;
}
.information h2{
    color: #D3573C;
    font-size: 64px;
    line-height: 83px;
}
.locationText{
    width: 374px;
    height: 89px;
}
.locationText span{
    color:#901C1C;
    font-size: 24px;
    line-height: 31px;
}
.locationText p{
    margin-bottom: 20px;
}
.text{
    font-size: 18px;
    line-height: 23px;
    color:#525252;
}
.tags ul{
    display: flex;
}
.tags li{
    border: 0.5px solid #C4C4C4;
    border-radius: 12px;
    padding: 3px;
    margin: 3px;
    cursor: pointer;
}
.tags a{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #901C1C;
}
.tags li:focus, .tags li:hover{
    background:#901C1C ;
 }
 .tags a:focus, .tags a:hover {
    color:#E5E5E5;
 }
.btnContact button{
    background: #911C1C;
    color:white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    padding: 21px 11px;
    border: none;
    margin-top: 40px;
    margin-left: -90%;
}
.btnContact button:hover, .btnContact button:focus{
    background: #D3573C;
    color: black;
}
.portrait img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 40px; 
    margin-right: 50px;
}
/*-------------------------------------------------accordion-------------------------------------------------*/
.containerDropDown{
    display: flex;
}
.sortBy{
   font-size: 18px;
   font-weight: bold;
   line-height: 23px;
   margin-right: 20px;
   margin-top: 30px;
}

.accordion-item{
    display: flex;
    flex-direction: column;
    background: #911C1C;
    border-radius: 5px;
    width: 170px;
    margin-top: 20px;
    padding: 2px 2px;
    position: relative;
}
.btnPopularite button{
    background: #911C1C;
    border:none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    width: 166px;
    height: 69px;
    line-height: 23px;
}
.btnPopularite button i{
    padding-left: 10px;
}
.open {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    z-index: 400;
    position: absolute;
    left: 88px;
}
.close .accordion-item-contenu{
    height:0px;
    transition:height 1s ease-out;
    -webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
    float:left;
    display:block;
}
.open .accordion-item-contenu{
    border-radius: 5px;
    width: 100%;
    margin: 0px 0px 10px 0px;
    display:block;
    border-top: 1px solid white;
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: top;
    -o-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease;
    -ms-transition: -ms-transform 0.4s ease;
    transition: transform 0.4s ease;
    box-sizing: border-box;
 }
 .open .accordion-item-contenu button{
    background: #911C1C;
    border:none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    width: 166px;
    height: 69px;
    line-height: 23px;
    padding-right: 70px;
 }


/*____________________________affichage media____________________________*/
.media{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.mediaView{
    margin-bottom: 40px;
}
.imageMedia{
    width: 350px;
    height: 300px;
    border-radius: 5px;
    margin-right: 20px;
} 
.imageMedia img{
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}
.imageMedia video{
    width: 350px;
    height: 300px;
    border-radius: 5px; 
}
.titleLikes{
    display: flex;
    justify-content: space-between;
    width: 350px;
    padding-top: 10px;
    
}
.titleLikes h3{
    color: #901C1C;
    font-size: 24px;
    line-height: 31px;
} 
.titleLikes p{
    font-size: 24px;
    line-height: 31px;
    color: #901C1C;
} 
.priceLikes{
    background: #DB8876;
    width: 376px;
    height: 89px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 400;
    right: 20px;
    bottom: -5px;
}
.totalLikes, .priceDay{
   font-size: 24px;
   line-height: 31px;
   font-weight: 500;
   color: #000000;
}
